.depend
Make.dep
*.o
*.a
*.d
*.i
*~
.swp
.*.swp
core
.gdbinit
cscope.out
/Kconfig
/bin
/.context
/.config
/*.lib
/*.lock
/romfs.img
/boot_romfsimg.h
/symtab_apps.c
/*/.built
.kconfig
**/__pycache__
.vscode/
*.xml
*.html
venv/
report*
