#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLE_MOTOR_SENSING
	tristate "Motor Sensing Example"
	default n
	---help---
		Enable the Motor Sensing example
