#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLE_QENCODER_MOTOR
	tristate "QEncoder Motor Example"
	default n
	---help---
		Enable the QEncoder Motor example
